includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    autoload_files:
        - %rootDir%/../../../src/functions.php
    ignoreErrors:
        - '#Property Nexendrie\\SiteGenerator\\Generator::\$(source|output) \(string\) does not accept string\|false#'
        - '#Parameter \#[0-9]+ \$[a-zA-Z]+ of (function|method|static method) [a-zA-Z\\_:]*(\(\))? expects (array\|)?string, string\|false given#'
        - '#Array \(array<string>\) does not accept string\|false#'
