includes:
    - vendor/nexendrie/code-quality/phpstan.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    autoload_files:
        - %rootDir%/../../../src/functions.php
    ignoreErrors:
        - '#Parameter \#[0-9]+ \$[a-zA-Z]+ of (function|method|static method) [a-zA-Z\\_:]*(\(\))? expects (array\|)?string, string\|false given#'
        - "#Casting to string something that's already string#"
